*{
  margin:0;
  padding:0;
  text-decoration: none;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.container{
  display:flex;
  width: 100%;
  padding: 0px 20px;

}
.main{
  width: 100%;
  padding: 20px;
  

}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: #F7CAC9;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: #B76E79;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}

body {
	background-color: 
}

/* navbar css */

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");


:root {
	--mainColor: #000000;
	--mainColorLight: #5767aa;
	--secondaryColor: #db2b39;
	--textColor: #eee;

}

header {
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--mainColor);
	color: var(--textColor);
}

nav a {
	margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

header div,
nav {
	display: flex;
	align-items: center;
}


/* Media Responsiveness */

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
		
	}

	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
	}

	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}

  .card{
    flex: 0 0 100%;
    max-width: 100%;
}
}