.InventoryPage{
    width: 87%;
    height: 100%;
    position: absolute; 
    
}
.Inventorycontainer{
   width: 76%;
  
   background-color:#f5f5f5 ;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 20px;
  border: 5px solid black;
  
}
.Inventorycontainer .InventoryItems{
    background-color: #f5f5f5;
    width: 90%;
   

    align-items: center;
    justify-content: center;
  
    margin-left: 30px;
}

.InventoryItems .Inventoryinput{
    
   margin-top: 10px;
    align-items: center;
   justify-content: center;
   display: flex;
 
}
.Inventoryinput input{
    width: 80%;
    height: 50px;
    font-size: 50px;
    border-radius: 10px ;
    border: 5px solid #f5f5f5;
    text-align: center;
    background-color: #fff;
    border: 2px solid black;
    margin-top: 40px;
}

.InventoryItems  .container {

margin-top: 20px;

}
.container .cardrs{
  
        display: flex;
        flex-wrap: wrap;
       
        
        
}
.cardrs .cardz{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: .3s;
    border: 2px solid lightgrey;
   margin-left: 20px;
   margin-top: 10px;
}
.cardz .Image{
    width: 40%;
    background-color: yellow;
    float: right;
    right: 0;
    height: 150px;
 
    margin-top: -120px;
}
.cardz .inputs{
    background-color: rgba(255, 204, 0, 0.86);
    margin-top: -0px;
    position: absolute;
    display: flex;
}
.inputs.input{
    width: 20px;
    height: 20px;
    display: flex;
   margin-top: 10px;
   position:absolute ;
}
.input input{
    margin: 10px;
    width: 30px;
}
.input span{
    font-size: 20px;
   font-family: bold;
}
.inputs.btns{
    width: 20px;
    height: 20px;
    display: flex;
    margin-left: 10px;
}
.btns button{
    margin-left: 10px;
    margin: 10px;
}
.btns .save{
    background-color: aquamarine;
}
.btns .delete{
    background-color: red;
}