* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
.InventoryPage{
     width:90%;
     height: 60%;
     background-color: transparent;
     
    margin-left: 15px;
}
.Inventorycontainer{

 height: 45%;
   width: 80%;
  margin-top: 20px;
 
background-color: transparent;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(103, 104, 104);
}
.Inventorycontainer .InventoryItems{

    width: 80%;
    

    align-items: center;
    justify-content: center;
  
    margin: auto;

}

.InventoryItems .Inventoryinput{
    
   margin-top: 10px;
    align-items: center;
   justify-content: center;
   display: flex;
 
}
.Inventoryinput input{
    width: 80%;
    height: 50px;
    font-size: 50px;
    border-radius: 10px ;
    border: 5px solid #f5f5f5;
    text-align: center;
    background-color: #fff;
    border: 2px solid black;
    margin-top: 40px;
}

.InventoryItems  .container {
background-color: transparent;
margin-top: 20px;
height: 90%;

}
.container .cardrs{
  width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 60%;
        background-color: transparent;
        
}
.cardrs .cardz{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: .3s;
    border: 2px solid lightgrey;
   margin-left: 20px;
   margin-top: 10px;
}
.cardz .Image{
    width: 40%;
    background-color: rgb(190, 190, 185);
    float: right;
    right: 0;
    height: 150px;
 
    margin-top: -120px;
}
.cardz .inputs{
    
   
    
    display: flex;
}
.inputs.input{
    width: 20px;
    height: 20px;
    display: flex;
   margin-top: 10px;
   position:absolute ;
}
.input input{
    margin: 10px;
    width: 30px;
}
.input span{
    font-size: 20px;
   font-family: bold;
}
.inputs.btns{
    width: 20px;
    height: 20px;
    display: flex;
    margin-left: 10px;
}
.btns button{
    margin-left: 10px;
    margin: 10px;
}
.btns .save{
    background-color: aquamarine;
    width: 80px;
    height: 30px;
}
.btns .delete{
    background-color: red;
    width: 80px;
    height: 30px;
}

.btnInven {
 
    width: 25px;
    text-align: center;
    height: 25px;
    font-weight: 400;
    font-size: 20px;
    border: none;
    
    
}

.btnInvent:hover {
    background-color: rgb(21, 255, 0);
    color: rgb(0, 0, 0);
}

.btnInvent {
 
    width: 25px;
    text-align: center;
    height: 25px;
    font-weight: 400;
    font-size: 20px;
    border: none;
    
}

.btnInven:hover {
    background-color: orange;
    color: rgb(0, 0, 0);
}