.tabs {
    padding: 12px 40px;
    background-color: #ffffff;
    color: #B76E79;
    font-weight: 400;
    transition: 0.5s;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 25px;
}

.cmscenter {
    align-self: center;
    b
}