

.productsInfo{
    width: 100%;
    height: 100%;
    background-color: red;
    
}


.rightSideProductsInfo{
    background-color: white;
    width: 20%;
   
    float: right;
    right: 0px;
   
    margin-top: 20px;
   
    border: 5px solid black;
    border-radius: 20px;
   

}
.formProduct{
    background-color: white;
    
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.Addprod{
    background-color: white;
   height: 100%;
   
   
}
.prod p{
   color: gray;
   margin-top: 10px;
   font-size: 17px;
}
.Addprod select{
    width: 80%;
    height: 30px;
    font-size: 17px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
   
}
.Addprod button{
    width: 20%;
    height: 30px;
    font-size: 18px;
   margin-top: 10px;
   background-color: #7c0000;
   color: #debfbf;
   border-bottom-right-radius: 5px;
   border-top-right-radius: 5px;
   font-family: bold;

}

.Addprod input{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 17px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.Addprod textarea{
    width: 100%;
    height: 130px;
    margin-top: 10px;
    font-size: 17px;
    background-color: #f5f5f5;
   
}
.Addsizes{
    background-color: white;
    
}
.sizes p{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: gray;
   
}
.sizes input{
    width:25px;
    height: 15px;
    margin: 30px;
    margin-top: -40px;
    margin-left:10px ;
    border: 5 black;
 
}
.sizes label{
   
    font-size: 13px;
    margin-left: -15px;
    
    position: absolute;
}
.Addsizes .imagecon{
    
    width: 100%;
    height: 200px;
    margin-top: -50px;
    font-size: 17px;
    background-color: #f5f5f5;
   

}
.imagecon     input{
    
    height: 200px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
  
}
.imagecon p {
   
    text-align: center;
    justify-content: center;
    font-size: 120px;
     color: gray;
    
}
.imagecon  i{
    
    text-align: center;
    justify-content: center;
    font-size: 130px;
     color: gray;
}
.Addcolor {
  
    
    background-color: #7c0000;
    margin-top: -30px;
    
}
.color p{ 
    font-size: 15px;
  
    margin-top: 30px;
    color: gray;}

.color input{
    width: 30px;
    height: 15px;
    margin: 20px;
    margin-top: -20px;
   margin-left: 10px;
  
   
}
label .colorblock{
    background-color: black;
    width: 15px;
    height: 15px;
    display: inline-flex;

    position: absolute;
    margin-top: -1px;
    margin-left: -17px;
}
label .colorblock1{
    background-color: brown;
    width: 15px;
    height: 15px;
    display: inline-flex;

    position: absolute;
    margin-top: -1px;
    margin-left: -17px;
}
label .colorblock2{
    background-color: orange;
    width: 15px;
    height: 15px;
    display: inline-flex;

    position: absolute;
    margin-top: -1px;
    margin-left: -17px;
}
label .colorblock3{
    background-color: yellow;
    width: 15px;
    height: 15px;
    display: inline-flex;

    position: absolute;
    margin-top: -1px;
    margin-left: -17px;
}
label .colorblock4{
    background-color: white;
    width: 15px;
    height: 15px;
    display: inline-flex;

    position: absolute;
    margin-top: -1px;
    margin-left: -17px;
}

 .filter input{
    width: 100%;
    height: 130px;
    margin-left: 1px;
    font-size: 17px;
    background-color: #f5f5f5;
 }
 .Buttonxontainer{

    width: 100%;
    height: 220px;
    background-color: white;
 }
.Buttonxontainer input{
     margin-top: 10px;
     width: 100%;
     height: 30px;
     margin-top: 10px;
     font-size: 17px;
     background-color: #f5f5f5;
}
.Buttonxontainer p{
    text-align: center;
    
}
.Buttonxontainer button{
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    margin-top: 2px;
    font-size: 17px;
    background-color: #ffefad;
  
}
.Buttonxontainer .button2  {
    background-color: #80D0A0;
} 
.Buttonxontainer .button3{
    background-color: #F25454;
} 

 