

.productsInfo{
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
}


.rightSideProductsInfo{
    background-color: transparent;
    width: 20%;
  height:100%;
  float: right;
  right: 100px;
  margin-left: 15px;
    margin-top: -80px;
   
  
 

}
.formProduct{
    background-color: transparent;
    overflow-y: scroll;

    margin-left: 5px;
    margin-right: 5px;
}
.Addprod{
    background-color:rgb(214, 214, 212);
  
    border-radius: 10px;
    border: 5px solid darkgray;
   
}
.prod p{
   color: rgb(0, 0, 0);
   margin-top: 10px;
   font-size: 20px;
   text-align: center;
   font-weight:bold;
}
.Addprod select{
    width: 100%;
    height: 30px;
    font-size: 17px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-top: 10px;
   
}
.Addprod button{
    width: 80%;
    height: 30px;
    font-size: 18px;

   background-color: rgb(167, 248, 167);
   color: #030303;
 padding: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 30px;
  border: none;
  border-radius: 5px;
    border: none;
}

.Addprod button:hover{
    background-color: rgb(21, 255, 0);
}

.Addprod input{
  
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 17px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.Addprod textarea{
    width: 100%;
    height: 130px;
    margin-top: 10px;
    font-size: 17px;
    background-color: #f5f5f5;
   
}
.Addsizes{
   
    background-color:rgb(214, 214, 212);
  
    margin-top: 5px;
    border-radius: 10px;
    border: 5px solid darkgray;
}
.Addsizes h2{
    margin-top: 10px;
    margin-bottom: 30px;
    
}
.sizes label{
color:black

}
.sizes input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 17px;
    background-color: #f5f5f5;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.sizes select{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    font-size: 17px;
    background-color: #f5f5f5;
     
  
    
}
.sizes  button{
    width: 80%;
    height: 30px;
    font-size: 18px;
   margin-top: 40px;
   background-color: #56d845;
   color: #000000;
   padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 25px;
  border-radius: 10px;
 
}
 .Buttonxontainer{

    width: 100%;
    height: 260px;
    background-color: #f5f5f5;
 }
.Buttonxontainer input{
     margin-top: 10px;
     width: 100%;
     height: 30px;
     margin-top: 10px;
     font-size: 17px;
     background-color: white;
}
.Buttonxontainer p{
    text-align: center;
   margin-top: 1px;
}
.Buttonxontainer button{
    text-align: center;
   
    width: 100%;
    height: 40px;
    margin-top: 10px;
    font-size: 17px;
    border-radius: 5px;
    border: none;
  
  
}
.btnSub {
    background-color: #03f564;
    border-radius: 5px;
    border: none;
    
} 
.btnSub:hover {
    background-color: #008d38;
}

.btnClr{
    background-color: #fa6868;
} 

.btnClr:hover{
    background-color: #ff0000;
} 

 